section {
    padding:20px;
    margin:20px;
}

.title {
    background-color: #A6BE9E;
    font-weight: bold;
}

.article {
background-color:#A6BE9E;
color:#FFF3BC;
font-size:x-small;
}

.brand {
background-color:#082833;
color:#C24726;
font-weight: bold;
font-size:x-large;
}